.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(196, 196, 196);
  background-color: grey;
  border-radius: 24px;
}

.link {


}

  .active{
    color: orange;
    text-decoration: underline;
  }