.nav {
  max-width: 200px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(30, 41, 59, 0.5);
  border-radius: 9999px;
  column-gap: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(51, 65, 85, 0.5);
}

.link {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  border-radius: 34px;
  text-decoration: none;
  color: #cbd5e1;
  transition: all 0.2s ease;

  &:hover {
    color: #fff;
    background-color: rgba(51, 65, 85, 0.5);
  }
}

.active {
  color: orange;
}
