.li {
  min-width: 345px;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  p {
    width: 100%;
  }
}

.btn {
}

.completed {
  text-decoration: line-through;
}
