.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 12px;
  input {
    font-size: 18px;
    background-color: rgba(15, 23, 42, 0.5);
    padding: 0 24px;
    height: 56px;
    width: 100%;
    color: #e2e8f0;
    border: 1px solid #475569;
    border-radius: 12px;
    color: #f1f5f9;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.33s ease;

    &:focus-visible {
      background-color: rgba(51, 65, 85, 0.4);
      border: 1px solid #3b82f6;
      outline: none;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
    }
    &:hover,&:focus {
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
    }
    &::placeholder {
      color: #64748b;
    }
  }
  button {
    font-size: 16px;
    color: #f1f5f9;
    border: none;
    height: 56px;
    padding: 0 24px;
    border-radius: 12px;
    background-color: #2563eb;
    box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.3);
    transition: all 0.33s ease;
    cursor: pointer;
    &:hover{
      background-color: #3B82F6;
      transform: translateY(-2px);
      box-shadow: 0 6px 8px -1px rgba(37, 99, 235, 0.4);
    }
    &:active{
      transform: scale(0.95);
    }
  }
}
